<template name="listMgmtTbl">
    <div class="row">
        <div class="col s12">
            <ul class="collection">
                {{#each lists}}
                    <li class="collection-item">
                        <span class="{{#if $eq listShared true}}green-text{{/if}}">{{listName}}</span>
                        <i class="material-icons clickable deleteListName tooltipped right modal-trigger" data-position="top" data-tooltip-id="deleteListIcon" data-target="modalDelete">delete</i>
                        <i class="material-icons clickable editListName tooltipped right" data-position="top" data-tooltip-id="editThisListIcon">edit</i>
                        <i class="material-icons clickable markListComplete tooltipped right" data-position="top" data-tooltip-id="markCompleteIcon">check</i>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div id="deleteListIcon" style="display: none;">
            Delete this list
        </div>
        <div id="editThisListIcon" style="display: none;">
            Edit this list
        </div>
        <div id="markCompleteIcon" style="display: none;">
            Mark list complete
        </div>
    </div>
    {{> deleteConfirmationModal}}
</template>