<template name="listMgmtForm">
    <h4>Lists</h4>
    <form action="submit" class="listAdd">
        <div class="row">
            <div class="col s8 m8 l10 input-field">
                <input type="text" class="listNameInp" style="{{#if $eq listNameErr true}}border: 2px solid red{{/if}}" id="listNameInp" />
                <label for="listNameInp">List Name</label>
            </div>
            <div class="col s4 m4 l2 input-field">
                <p>
                    <label>
                        <input type="checkbox" id="isShared"/>
                        <span>Shared</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                {{#if $eq editMode false}}
                    <a class="waves-effect waves-light btn saveListMgmt green white-text right">Add</a>
                {{else}}
                    <a class="waves-effect waves-light btn renameListMgmt blue white-text right">Rename</a>
                {{/if}}
            </div>
        </div>
    </form>
</template>