body {
  padding: 10px;
  font-family: sans-serif;
}

.clickable, .closeIcon, .dispo {
  cursor: pointer;
}

li.collection-item {
  font-size: 20px;
  
}

li.collection-item.addNew {
  background-color: rgb(218, 218, 218);
  color: #343434;
}

li.collection-item:active {
  background-color: #bebebe;
}

strike {
  text-decoration-thickness: 3px;
  text-decoration-color: red;
}

.my-text {
  font-size: 1.3em !important;
}

.tall-modal {
  height: 75% !important;
}

.tall-content {
  overflow-y: scroll !important;
  height: 80% !important;
}