<template name="dashboard">
    <h4>My Dashboard</h4>
    <div class="row">
        {{#if $eq currConfig.allowUpdates true}}
        {{#if updatesExist}}
            <div class="col s12">
                <div class="card green darken-3" id="updateInfoCard">
                    <div class="card-content white-text">
                        <div class="card-title">Update Available</div>
                        <div class="row">
                            {{#each updates}}
                            <div class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        <h4>{{title}}</h4>
                                    </div>
                                    <div class="col s12">
                                        Release Notes:
                                        <p class="flow-text">{{{descriptionSinHTML}}}</p>
                                    </div>
                                    <div class="col s12">
                                        Release Date:
                                        <p class="flow-text">{{niceDate}}</p>
                                    </div>
                                    <div class="col s12">
                                        <a href="{{releaseLink}}" target=”_blank”>Visit Release on Gitlab</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12">
                                <a class="btn waves-effect waves-light blue white-text readLink" id="{{_id}}">Mark Read</a>
                            </div>
                            <hr />
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        {{/if}}
        <div class="col s12 m6 l4">
            <div class="card blue darken-3" id="taskInfoCard">
                <div class="card-content white-text">
                <span class="card-title"><h4>My Tasks</h4></span>
                    <div class="row">
                        <div class="col s2"><i class="medium material-icons">task</i></div>      
                        <div class="col s10">
                            <ul class="collection">
                                {{#each mytaskitems}}
                                    <li class="collection-item blue darken-3">{{taskName}}</li>
                                {{else}}
                                    <li class="collection-item blue darken-4">No Tasks due Today</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#" class="cardLink white-text" id="taskMgmtLink">Task Management</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card blue-grey darken-1" id="listInfoCard">
                <div class="card-content white-text">
                <span class="card-title"><h4>My Lists <span class="right">{{listCount}}</span></h4></span>
                    <div class="row">
                        <div class="col s8"><i class="medium material-icons">list</i></div>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#" class="cardLink white-text" id="listMgmtLink">List Management</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card blue darken-3" id="menuInfoCard">
                <div class="card-content white-text">
                <span class="card-title"><h4>{{todayDate}}</h4></span>
                {{#each todayMenuItem}}
                    {{#each menuItems}}
                    {{#if $eq todayDate serveDate}}
                        <div class="row">
                            <div class="col s12"><h4><i class="medium material-icons">local_dining</i> <span class="right">{{menuItemName}}</span></h4></div>
                        </div>
                    {{/if}}
                    {{/each}}
                {{else}}
                    <div class="row">
                        <div class="col s12"><h4><i class="medium material-icons">local_dining</i><span clas="right">No Menu Today</span></h4></div>
                    </div>
                {{/each}}
                </div>
                <div class="card-action">
                    <a href="#" class="cardLink white-text" id="myMenuLink">My Menus</a>
                </div>
            </div>
        </div>
        {{#if isInRole 'systemadmin'}}
        <div class="col s12 m6 l4">
            <div class="card blue-grey darken-1" id="userInfoCard">
                <div class="card-content white-text">
                <span class="card-title"><h4>Users <span class="right">{{userCount}}</span></h4></span>
                    <div class="row">
                        <div class="col s8"><i class="medium material-icons">person</i></div>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#" class="cardLink white-text" id="userMgmtLink">User Management</a>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</template>
