<template name="listItemsTbl">
    <div class="row">
        <div class="col s12">
            <ul class="collection">
                {{#if Template.subscriptionsReady}}
                {{#each thisListItems}}
                    <li class="collection-item">
                        <span>
                            {{#if $eq itemOrdered true}}
                                <strike>{{itemName}}</strike>
                            {{else}}
                                {{itemName}}
                            {{/if}}
                        </span>
                        <i class="material-icons clickable deleteListItem right modal-trigger" href="#modalDelete">delete</i>
                        <i class="material-icons clickable markListItemReceived right">check</i>
                    </li>
                {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>
    {{> deleteConfirmationModal}}
</template>