<template name="listItemsForm">
  <div class="row">
    <div class="col s6 center">
      {{#if Template.subscriptionsReady}}
      <h5>{{selListName}}</h5>
      {{/if}}
    </div>
    <div class="col s6">
      <div class="row">
        <div class="col s12">
          <p>
            <label>
              <input type="checkbox" id="showReceivedItems" />
              <span>Show Recv'd</span>
            </label>
          </p>
        </div>
        <div class="col s2 m1 l1">
          {{#if $eq filtering false}}
          <i class="material-icons clickable" id="filterOn">filter_list</i>
          {{else}}
          <i class="material-icons clickable" id="filterOff">clear</i>
          {{/if}}
        </div>
        <div class="col s4 m3 l3">
          Filter LIst
        </div>
      </div>
    </div>
  </div>
  {{#if $eq filtering true}}
  <div class="row">
    <div class="col s8 input-field">
      <input type="text" class="searchListItems" id="searchListItems" />
      <label for="searchlistItems">Filter</label>
    </div>
  </div>
  {{else}}
  <div class="row">
    <div class="col s8 m9 l10 input-field outlined">
      <input type="text" class="autocomplete" id="findListItems" autocomplete="off" />
      <label for="findListItems">Item...</label>
    </div>
    <div class="col s4 m3 l2">
      <a class="waves-effect waves-light btn saveListItem green white-text right">Add</a>
    </div>
  </div>
  {{/if}}
</template>
