<template name="listItemTblByStore">
    <div class="row">
        <div class="col s12">
        <span>Products with no assigned store, will not be displayed on this version of the list.</span>
            <ul class="collection with-header">
            {{#each stores}}
                {{#if $eq storeInList true}}
                    <li class="collection-header"><h4>{{storeName}}</h4></li>
                    {{#each thisListItems}}
                    <li class="collection-item" id="{{_id}}-{{itemOrdered}}">
                        <span>
                            {{#if $eq itemOrdered true}}
                                <strike>{{itemName}}</strike>
                            {{else}}
                                {{itemName}}
                            {{/if}}
                        </span>
                        <i class="material-icons clickable deleteListItem right modal-trigger" href="#modalDelete">delete</i>
                        <i class="material-icons clickable markListItemReceived right">check</i>
                    </li>
                    {{/each}}
                {{/if}}
            {{/each}}
            </ul>
        </div>
    </div>
</template>
