<template name="listItemsMain">
        {{> listItemsForm}}
        <hr>
        <div class="row">
                <div class="col s12">
                        <ul class="tabs">
                                <li class="tab col s6">
                                <a href="#listOnly" class='active'>List</a>
                                </li>
                                <li class="tab col s6">
                                <a href="#listByStore">List by Store</a>
                                </li>
                        </ul>
                </div>
                <div id="listOnly" class="col s12">
                        {{> listItemsTbl}}
                </div>
                <div id="listByStore" class="col s12">
                        {{> listItemTblByStore}}
                </div>
        </div>
</template>
