<template name="headerBar">
  <ul id="drop-manage" class="dropdown-content">
    
  </ul>
    <nav>
        <div class="nav-wrapper blue darken-4">
          <a href="#" class="brand-logo center {{#if $eq myTheme 'dark'}}white-text{{/if}}" id="brandLogo">Get My</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger {{#if $eq myTheme 'dark'}}white-text{{/if}}"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            {{#if currentUser}}
              <li><a href="#" id="mylists" class="navBtn {{#if $eq myTheme 'dark'}}white-text{{/if}}">My Lists</a></li>
              <li><a href="#" id="mymenus" class="navBtn {{#if $eq myTheme 'dark'}}white-text{{/if}}">My Menus</a></li>
              <li><a href="#" id="myTasks" class="navBtn {{#if $eq myTheme 'dark'}}white-text{{/if}}">My Tasks</a></li>
              <li><a href="#" class="navBtn {{#if $eq myTheme 'dark'}}white-text{{/if}}" id="mySettings">My Settings</a></li>
              {{#if isInRole 'systemadmin'}}
                <li><a href="#" id="manage" class="navBtn {{#if $eq myTheme 'dark'}}white-text{{/if}}">Manage</a></li>
              {{/if}}
              <li class="signOut {{#if $eq myTheme 'dark'}}white-text{{/if}}"><a href="#" class="signOut">Log Out</a></li>
              {{#if $eq updateExists true}}
              <li><a href="#!"><i class="material-icons white-text navBtn" id='dashboard'>notifications</i></a></li>
              {{/if}}
            {{else}}
              <li><a href="#!" id="login" class="navBtn {{#if $eq myTheme 'dark'}}white-text{{/if}}">Login</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        {{#if currentUser}}
        <li><a href="#!" id="mylists" class="navBtn {{#if $eq myTheme 'dark'}}white-text{{/if}}">My Lists</a></li>
        <li><a href="#!" id="mymenus" class="navBtn {{#if $eq myTheme 'dark'}}white-text{{/if}}">My Menus</a></li>
        <li><a href="#!" id="myTasks" class="navBtn {{#if $eq myTheme 'dark'}}white-text{{/if}}">My Tasks</a></li>
        <li><a href="#!" class="navBtn {{#if $eq myTheme 'dark'}}white-text{{/if}}" id="mySettings">My Settings</a></li>
        {{#if isInRole 'systemadmin'}}
          <li><a href="#!" id="manage" class="navBtn {{#if $eq myTheme 'dark'}}white-text{{/if}}">Manage</a></li>
          {{#if $eq updateExists true}}
          <li><a href="#!"><i class="material-icons navBtn" id="dashboard">notifications</i></a></li>
          {{/if}}
        {{/if}}
        <li><a href="#!" class="signOut {{#if $eq myTheme 'dark'}}white-text{{/if}}">Sign Out</a></li>
        {{else}}
          <li><a href="#!" id="login" class="navBtn {{#if $eq myTheme 'dark'}}white-text{{/if}}">Login</a></li>
        {{/if}}
      </ul>
</template>
