<template name="userConfig">
    <h4>My Settings</h4>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content">
                  <span class="card-title">Dark / Light Mode</span>
                  <div class="switch">
                    <label>
                      Light
                      <input type="checkbox" id="darkMode">
                      <span class="lever"></span>
                      Dark
                    </label>
                  </div>
                </div>
              </div>
        </div>
    </div>
    {{> snackbar}}
</template>