<template name="systemAdmin">
    <h2>System Administration</h2>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h4>Registration Settings</h4>
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <div class="switch">
                                <label>
                                  <input type="checkbox" class="currConfigs" id="allowAdmReg">
                                  <span class="lever"></span>
                                  Allow Admin Registration
                                </label>
                              </div>
                        </div>
                        <div class="col s12 m6 l6">
                            <div class="switch">
                                <label>
                                    <input type="checkbox" class="currConfigs" id="allowGenReg">
                                    <span class="lever"></span>
                                    Allow Registration
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h4>Update Notifications</h4>
                    <p>This option requires the seerver to have an internet connection.</p>
                    <br>
                    <div class="row">
                        <div class="col s12 m12 l6">
                           <div class="switch">
                                <label>
                                    <input type="checkbox" class="currConfigs" id="recvUpdateMsgs">
                                    <span class="lever"></span>
                                    System Admin will receive information on updates and new featres
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> snackbar}}
</template>
