<template name="addProdToListModal">
    <div class="modal tall-modal" id="addProdToList">
        <div class="modal-content tall-content">
            <h2>Add Items to List</h2>
            <form class="row" style="gap: 1em;">
                <div class="col s12 input-field outlined" id="chooseListDiv">
                    <select name="chooseList" id="chooseList">
                        {{#each setOfLists}}
                            <option value="{{_id}}">{{listName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col s12">
                    <ul class="collection with-header">
                        <li class="collection-header">
                          <h4>Products to Add</h4>
                        </li>
                        {{#each productToChoose}}
                            {{#each products}}
                            <li class="collection-item">
                                <div>
                                    <p>
                                        <label>
                                            <input type="checkbox" class="productListing" id="{{prodId}}" />
                                            <span class="my-text">{{prodName}}</span>
                                        </label>
                                    </p>
                                </div>
                            </li>
                            {{/each}}
                        {{/each}}
                    </ul>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s6 m6 l6">
                    <a class="left btn waves-effect waves-light orange white-text modal-close">Cancel</a>
                </div>
                <div class="col s6 m6 l6">
                    <a class="right btn waves-effect waves-light green white-text saveProdsToList" id="saveProdsToList">Save to List</a>
                </div>
            </div>
            
        </div>
    </div>
    {{> snackbar}}
</template>
