<template name="menuItemsTbl">
    <div class="row">
        <div class="col s12">
            <table>
                <thead>
                    <tr>
                        <th>Menu Item</th>
                        <th>Date to Serve</th>
                        <th>Has Product Links</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {{#each thisMenuItems}}
                    {{#each menuItems}}
                        <tr>
                            <td>
                                <span>
                                    {{menuItemName}}
                                </span>
                            </td>
                            <td>
                                {{serveDate}}
                            </td>
                            <td>
                                {{#if $eq isLinked true}}<a class="waves-effect waves-light blue darken-3 white-text btn addProdsToList modal-trigger" href="#addProdToList">+ Shopping List</a>{{/if}}
                            </td>
                            <td>
                                <i class="material-icons modal-trigger deleteMenuItem clickable" href="#modalDelete">delete</i>
                                <i class="material-icons modal-trigger linkToProducts clickable" href="#modalLinkProducts">link</i>
                                <i class="material-icons modal-trigger clickable">arrow_forward</i>
                            </td>
                        </tr>
                    {{/each}}
                {{/each}}
            </table>
        </div>
    </div>
    {{> deleteConfirmationModal}}
    {{> modalLinkProducts}}
    {{> addProdToListModal}}
</template>
