<template name="menuItemsForm">
    <h5>{{menuName}}</h5>
    <form class="menuItemFrm row" style="gap: 1em;" id="menuItemFrm">
        <div class="col s12 m6 l9 input-field outlined">
            <input type="text" class="autocomplete tooltipped" id="menuItemInp" autocomplete="off" data-position="top" data-tooltip="Start typing, and select previous menu items if desired." />
            <label for="menuItemInp">Item</label>
        </div>
        <div class="col s12 m6 l3 input-field outlined">
            <input type="text" class="datepicker" id="dateServed" />
            <label for="dateserved">Date to Serve</label>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s6 m6 l6">
                    <a class="waves-effect waves-light btn shiftOneDay blue white-text left">Shift All By 1 Day</a>
                </div>
                <div class="col s6 m6 l6">
                    <a class="waves-effect waves-light btn saveMenuItem green white-text right">Add</a>
                </div>
            </div>
        </div>
    </form>
    {{> snackbar}}
</template>
