<template name="modalLinkProducts">
    <div id="modalLinkProducts" class="modal tall-modal">
        <div class="modal-content tall-content">
            <p class="flow-text">Choose Product Items below that are used to make this menu item.</p>
            <div class="col s12 input-field outlined" id="prouctsForMenudiv">
                <select name="" id="prodForMenu" class="prodForMenu" multiple>
                    <option value="" disabled>Choose...</option>
                    {{#each products}}
                        <option value="{{_id}}|{{prodName}}">{{prodName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <br>
        <hr>

        <div class="modal-footer">
            <div class="row">
                <div class="col s6">
                    <a id="cancelLInk" class="btn waves-effect wave-light orange white-text left modal-close">Cancel</a>
                </div>
                <div class="col s6">
                    <a id="saveLink" class="btn waves-effect waves-light green white-text right modal-close">Save</a>
                </div>
            </div>
        </div>
    </div>
    {{> snackbar}}
</template>
