<template name="userInfoModal">
    <div id="userInfoModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>User Info for: {{userInfo.profile.fullname}}</h4>
            <div>
                <p class="flow-text">Password Reset</p>
            </div>
            <form class="row" style="gap: 1em;">
                <div class="col s12 m6 l6 input-field outlined">
                    <input type="password" class="newPass" id="newPass" />
                    <label for="newPass">Enter New Password</label>
                </div>
                <div class="col s12 m6 l6 input-field outlined">
                    <input type="password" class="newPassConf {{#if $eq passMatch false}}red lighten-3{{/if}}" id="newPassConf" />
                    <label for="newPassConf">Enter New Password</label>
                    {{#if $eq passMatch false}}<p class="red-text">Passwords do not match!</p>{{/if}}
                </div>
                <div class="col s12 m6 l6 input-field outlined">
                    <select name="userRole" id="userRole" class="userRole {{#if $eq roleEmpty true}}red lighten-2 white-text{{/if}}">
                        <option value="{{userRole}}" selected>{{userRole}}</option>
                        <option value="admin">Admin</option>
                        <option value="systemadmin">System Admin</option>
                        <option value="user">User</option>
                    </select>
                    <label for="userRole">User Role</label>
                    {{#if $eq roleEmpty true}}
                    <p class="red-text">This field is required.</p>
                    {{/if}}
                </div>
                <div class="col s12 m6 l6 input-field outlined">
                    <input type="text" class="usersEmail" id="usersEmail" value="{{userInfo.emails.[0].address}}"/>
                    <label for="usersEmail">Email</label>
                    {{#if $eq emailEmpty true}}
                    <p class="red-text">This field is required.</p>
                    {{/if}}
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="modal-close btn waves-effect waves-light filled orange white-text">Cancel</a>
            <a id="saveChanges" class="btn waves-effect waves-light filled green white-text">Save Changes</a>
        </div>
    </div>
    {{> snackbar}}
</template>