<template name="mgmtPage">
    <div class="row">
        <div class="col s12">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Management</h4></li>
                {{#if isInRole "systemadmin"}}
                    <li class="collection-item" id="userMgmt">Users</li>
                {{/if}}
                <li id="manageLists" class="collection-item">Lists</li>
                <li id="manageProduct" class="collection-item">Product</li>
                <li id="manageStore" class="collection-item">Store</li>
                <li id="taskHome" class="collection-item">Tasks</li>
                <li id="systemAdmin" class="collection-item">System Admin</li>
                <li id="cleanUp" class="collection-item">Clean Up System</li>
            </ul>
        </div>
    </div>
</template>