<template name="listsTbl">
    <div class="row">
        <div class="col s12">
            <ul class="collection">
                {{#each mylists}}
                <li class="collection-item clickable" id="{{this._id}}">
                    <span class="{{#if $eq listShared true}}green-text{{/if}}">{{listName}}</span>
                    <i class="material-icons clickable markAsComplete right" id="check_{{this._id}}">check</i>
                </li>
                {{/each}}
                <li data-target="modalList" class="modal-trigger collection-item clickable addNew" id="addList"> + Add New List</li>
            </ul>
        </div>
    </div>
    <!-- Modal for the Add List Option -->
    <div id="modalList" class="modal">
        <div class="modal-content">
            <h4>Add New List</h4>
            {{> listMgmtForm}}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect black white-text btn-flat">Done</a>
        </div>
    </div>
    {{> snackbar}}
</template>