<template name="cleanUpModalConfirm">
    <div class="modal" id="cleanUpConfirm">
        <div class="modal-content">
            <h4>Clean Up {{whatItems}}</h4>
            <p class="flow-text">Please click the 'Confirm' button in order to continue with the {{whatItem}} clean up. Note: this action canno be undone once confirmed.</p>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s6">
                    <a class="left btn waves-effect waves-light orange white-text cancelClean modal-close">Close</a>
                </div>
                <div class="col s6">
                    <a class="right btn waves-effect waves-light blue white-text confirmClean" id="confirmClean">Confirm</a>
                </div>
            </div>

        </div>
    </div>
    {{> snackbar}}
</template>