<template name="myTasksForm">
    <h4>MyTasks</h4>
    <form class="row" style="gap: 1em;">
        <div class="col s12 m6 l6 chips chips-placeholder" id="taskName">
        </div>
        
        <div class="col s12 m6 l6 input-field">
            <input type="text" class="datepicker" id="myTaskDate" />
            <label for="myTaskDate">Due Date</label>
            <div class="row">
                {{#each taskDate in taskDates}}
                    <div class="col s4 l2 m3">
                        <span>{{taskDate}}</span>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="col s6 m4 l4">
            <p>
                <label>
                  <input type="checkbox" id="showMyCompletedTasks" />
                  <span>Show Completed</span>
                </label>
              </p>
        </div>
        <div class="col s6 m4 l4">
            <p>
                <label>
                  <input type="checkbox" id="showAllTasks" />
                  <span>Show All Tasks</span>
                </label>
              </p>
        </div>
        <div class="col s12 m4 l4">
                <a class="waves-effect waves-light btn addNewTask green white-text right">Add</a>
        </div>
    </form>
    {{> snackbar}}
</template>