<template name="myTasksTbl">
    <ul class="collapsible">
        {{#each tasks}}
        <li>
            <div class="collapsible-header {{#if $eq passedDate false}}yellow black-text{{/if}}{{#if $eq isComplete true}}green{{/if}}"><h5>{{taskName}} </h5></div>
            <div class="collapsible-body">
                <span>
                    <ul class="collection">
                        <li class="collection-item">{{taskDate}}<i class="material-icons clickable right markMyTaskComplete">check</i><i class="modal-trigger material-icons clickable right deleteMyTask" data-target="modalDelete">delete</i></li>
                        <li class="collection-item">Complete? {{#if $eq isComplete true}}<i class="material-icons green">check</i>{{else}}<i class="material-icons red">close</i>{{/if}}</li>
                        <li class="collection-item">Completed On? {{#if $eq isComplete true}}{{compOn}}{{else}}Not Complete{{/if}}</li>
                    </ul>
                </span>
            </div>
        </li>
        {{/each}}
    </ul>
    {{> deleteConfirmationModal}}
</template>