<template name="taskTbl">
    <div class="row">
        <div class="col s12">
            <table class="highlight striped responsive-table">
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Assigned To</th>
                        <th>Due</th>
                        <th>Done On</th>
                        <th>Complete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each tasks}}
                        <tr>
                            <td>{{taskName}}</td>
                            <td>{{assignedTo}}</td>
                            <td>{{taskDate}}</td>
                            <td>{{completeDate}}</td>
                            <td>
                                {{#if $eq isComplete true}}
                                    <i class="material-icons green">check</i>
                                {{/if}}
                            </td>
                            <td>
                                <i class="material-icons clickable deleteTask modal-trigger" data-target="modalDelete">delete</i>
                                <i class="material-icons clickable markTaskComplete">check</i>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{> deleteConfirmationModal}}
    {{> snackbar}}
</template>