<template name="taskForm">
    <h4>Tasks</h4>
    <form class="row" style="gap: 1em;">
        <div class="col s12 m6 l4 chips chips-placeholder" id="taskName">
        </div>
        <div class="col s12 m6 l4 input-field outlined">
            <select name="taskUser" id="taskUser" class="taskUser">
                <option value="" disabled selected>Assign to user...</option>
                {{#each taskUsers}}
                    <option value="{{username}}_{{usersId}}">{{username}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col s12 m6 l4 input-field outlined">
            <input type="text" class="datepicker" id="taskDate" />
            <label for="taskDate">Task Date (multiple entries)</label>
            <div class="row">
                {{#each taskDate in taskDates}}
                    <div class="col s6 l3 m4">
                        <span>{{taskDate}}</span>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="col s12 m6 l6">
            <p>
                <label>
                  <input type="checkbox" id="hideCompletedTasks" />
                  <span>Hide Completed</span>
                </label>
              </p>
        </div>
        <div class="col s12 m6 l6">
                <a class="waves-effect waves-light btn saveTaskMgmt green white-text right">Add</a>
                <!-- <a class="waves-effect waves-light btn testChips blue white-text left" id="testChips">Test Chips</a> -->
        </div>
    </form>
    {{> snackbar}}
</template>