<template name="cleanUp">
    {{#if isInRole 'systemadmin, admin'}}
    <h3>Clean Up System Data</h3>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card grey darken-4 white-text">
                <div class="card-content">
                  <span class="card-title">Clean Up List Items</span>
                  <a class="btn waves-effect waves-light blue white-text modal-trigger" href="#cleanUpConfirm" id="cleanLists">Clean Lists</a>
                  <i class="material-icons tooltipped right" data-html="true" data-position="top" data-tooltip-id="tooltip-content">info</i>
                  <div id="tooltip-content" style="display: none;">To clean up old lists along with related list items, ensure any lists you no longer need or use are marked as 'Complete' by tapping or clicking the checkmark icon on the list entry.</div>
                </div>
              </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card grey darken-4 white-text">
                <div class="card-content">
                  <span class="card-title">Clean Up Menus</span>
                  <a class="btn waves-effect waves-light blue white-text modal-trigger" href="#cleanUpConfirm" id="cleanMenus">Clean Menus</a>
                  <i class="material-icons tooltipped right" data-html="true" data-position="top" data-tooltip-id="tooltip-menus">info</i>
                  <div id="tooltip-menus" style="display: none;">This will clean up old Menus and items where all Menus where menu items are past the date, including items that have no date set.</div>
                </div>
              </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card grey darken-4 white-text">
                <div class="card-content">
                  <span class="card-title">Clean Up Products</span>
                  <a class="btn waves-effect waves-light blue white-text" id="cleanProducts">Clean Products</a>
                  <i class="material-icons tooltipped right" data-html="true" data-position="top" data-tooltip-id="tooltip-products">info</i>
                  <div id="tooltip-products" style="display: none;">This will help you clean up all products. This task takes a little more user interaction in order to identify duplicate and unique items.</div>
                </div>
              </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card grey darken-4 white-text">
                <div class="card-content">
                  <span class="card-title">Clean Up Tasks</span>
                  <form class="row" style="gap: 1em;">
                    <div class="col s12 input-field">
                      <select name="removeOverDueTasks" id="removeOverdueTasks" class="removeOverDueTasks">
                        <option value="1-week">1 Week</option>
                        <option value="2-weeks">2 Weeks</option>
                        <option value="1-month">1 Month</option>
                        <option value="3-months">3 Months</option>
                        <option value="all">All Overdue Tasks</option>
                      </select>
                      <label for="removeOverdueTasks">Remove Overdue Tasks Older Than</label>
                    </div>
                    <div class="col s12">
                      <a class="btn waves-effect waves-light blue white-text modal-trigger" href="#cleanUpConfirm" id="cleanTasks">Clean Tasks</a>
                      <i class="material-icons tooltipped right" data-html="true" data-position="top" data-tooltip-id="tooltip-tasks">info</i>
                      <div id="tooltip-tasks" style="display: none;">This will clean up all tasks where the date has past, or the task is marked completed. For completed tasks to be cleared, today must also be past the due date on the task.</div>
                    </div>
                  </form>
                </div>
              </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card grey darken-4 white-text">
              <div class="card-content">
                <span class="card-title">Clean Up Stores</span>
                <a class="btn waves-effect waves-light blue white-text" id="cleanStores">Clean Stores</a>
                <i class="material-icons tooltipped right" data-html="true" data-position="top" data-tooltip-id="tooltip-stores">info</i>
                <div id="tooltip-stores" style="display: none;">This will allow you to clean up Store entries if needed.</div>
              </div>
            </div>
      </div>
    </div>
    {{> cleanUpModalConfirm}}
    {{else}}
    <p class="flow-text">You appear to have reached this page without having appropriate permissions to view the contents. If you believe this is a mistake, please contact your system admin for assistance.</p>
    {{/if}}
</template>