<template name="storeMgmtForm">
    <form id="storeForm" action="submit" class="row" style="gap: 1em;">
        <div class="col s8 m10 l10 input-field outlined">
            <input type="text" class="storeName" id="storeName" />
            <label for="storeName">Name</label>
        </div>
        <div class="col s4 m2 l2">
            {{#if $eq editModeStore false}}
                <a class="waves-effect waves-light btn saveStoreMgmt green white-text right">Add</a>
            {{else}}
                <a class="waves-effect waves-light btn editStoreMgmt blue white-text right">Rename</a>
            {{/if}}
        </div>
    </form>
    {{> snackbar}}
</template>