<template name="storeMgmtTbl">
    <div class="row">
        <div class="col s12">
            <ul class="collection">
                {{#each mgmtStoreInfo}}
                    <li class="collection-item">
                        {{storeName}}
                        <i class="material-icons clickable deleteStore right tooltipped modal-trigger" data-target="modalDelete" data-position="top" data-tooltip="Delete this store">delete</i>
                        <i class="material-icons clickable editStore right tooltipped" data-position="top" data-tooltip="Edit Store Name">edit</i>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{> deleteConfirmationModal}}
</template>