<template name="addMenuModal">
    <div id="modalMenu" class="modal">
        <div class="modal-content">
            <h4>Add New Menu</h4>
            <form class="menuAdd row">
                <div class="col s12 input-field">
                    <input type="text" class="menuNameInp {{#if $eq menuNameErr true}}red lighten-2 white-text{{/if}}" id="menuNameInp" />
                    <label for="menuNameInp">Menu Name</label>
                </div>
                {{#if $eq menuNameErr true}}
                <p class="red-text">
                    Menu Name is Required!
                </p>
                {{/if}}
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s6">
                    <a class="waves-effect waves-light left btn orange white-text modal-close">Cancel</a>
                </div>
                <div class="col s6">
                    <a class="waves-effect waves-light btn saveMenu green white-text right modal-close">Add</a>
                </div>
            </div>
        </div>
    </div>
</template>