<template name="mainMenuTbl">
    <div class="row">
        <div class="col s12">
            <ul class="collection">
                {{#each myMenus}}
                <li class="collection-item clickable" id="{{this._id}}">
                    {{menuName}}
                    <i class="material-icons clickable markComplete right" id="check_{{this._id}}">check</i>
                </li>
                {{/each}}
                <li class="collection-item clickable addNew modal-trigger" data-target="modalMenu" id="addMenu"> + Add New Menu</li>
            </ul>
        </div>
    </div>
    {{> addMenuModal}}
    
    {{> snackbar}}
</template>