<template name="reg">
    {{#if $not currentUser}}
    {{#if $eq allowReg true}}
        <div id="registrationForm">
            <div class="container">
                <h4>Register</h4>
                    <div class="card">
                        <div class="card-content">
                            <form class="register row" style="gap: 1em;">
                                <div class="col s12 input-field outlined">
                                    <input type="text" name="name" class="name {{#if $eq misName true}}red lighten-3{{/if}}" id="name" />
                                    <label for="name">Your Full Name *</label>
                                </div>
                                <div class="col s12 input-field outlined">
                                    <input type="email" name="email" id="email" class="email {{#if $eq misEmail true}}red lighten-3{{/if}}" />
                                    <label for="email">Email *</label>
                                </div>
                                <div class="col s12 input-field outlined">
                                    <input type="password" name="password" id="password" class="password {{#if $eq misPass true}}red lighten-3{{/if}}" />
                                    <label for="password">Password *</label>
                                </div>
                                <div class="col s12 input-field outlined {{#if $eq canReg false}}orange lighten-1{{/if}}">
                                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="passwordConfirm" />
                                    <label for="passwordConfirm">Confirm Password *</label>
                                </div>
                                <div class="col s12">
                                    <a id="registerMe" class="waves-effect waves-light btn right registerMe {{#if $eq canReg false}}grey{{else}}green darken-1{{/if}} white-text">Register</a>
                                </div>
                            </form>
                        </div>
                        <div class="card-action">
                            <a href="#" id="login">Sign In</a>
                        </div>
                        </div>
            </div>
        </div>
    {{else}}
        <h4>Registration Disabled</h4>
        <p class="flow-text">The administrator of this system has disabled registration. If you believe you should be allowed to register to use this system, please contact the system administrator for assistance.</p>
    {{/if}}
    {{/if}}
</template>