<template name="prodMgmtTbl">
    <div class="row">
        <div class="col s12 m12 l12">
            <table class="highlight striped responsive-table">
                <thead>
                    <tr>
                        <th>
                            {{#if $eq searchProd false}}
                            Product Name <i class="material-icons clickable right" id="filterProds">search</i>
                            {{else}}
                            <div style="width: 100%;">
                                <input type="text" class="searchProds" id="searchProds" style="width:85%" /> <i class="material-icons clickable" id="closeFilter">close</i>
                            </div>
                            {{/if}}
                        </th>
                        <th>
                            {{#if $eq searchStore false}}
                            Store <i class="material-icons clickable right" id="filterStore">search</i>
                            {{else}}
                                <div style="width: 100%;">
                                    <input type="text" class="searchStore" id="searchStore" style="width: 85%;" /> <i class="material-icons clickable" id="closeStoreFilter">close</i>
                                </div>
                            {{/if}}
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                        <tr>
                            <td>{{prodName}} </td>
                            <td>{{prodStore}}</td>
                            <td>
                                <i class="material-icons clickable deleteProduct modal-trigger" data-target="modalDelete">delete</i>
                                <i class="material-icons clickable editProduct">edit</i>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{> deleteConfirmationModal}}
</template>