<template name="deleteConfirmationModal">
    <div id="modalDelete" class="modal">
        <div class="modal-content">
            <h4>Delete Confirmation</h4>
            You are about to permanently delete {{itemName}} from the {{viewName}}. Are you sure?
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s6 m6 l6">
                    <a class="modal-close waves-effect waves-light btn left cancelDelete orange white-text">Cancel</a>
                </div>
                <div class="col s6 m6 l6">
                    <a class="waves-effect waves-light btn confirmDelete red  white-text right modal-close">Delete</a>
                </div>
            </div>
        </div>
    </div>
</template>