<template name="home">
    <div class="container">
        <h4>Welcome to Get My!</h4>
        <p class="flow-text">Please login to start using Get My.  An open source, self hostable, free to use, modify, re-distribute lit system.  Created to make having lists easily available with workflows that you define.</p>
    </div>
</template>